<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackEnd</title>
    <link rel="stylesheet" href="styles/main.css" class="">
</head>
<body>
    <h1 class="header">😼 Cat Facts 😼 </h1>
    <h3 class="facts">Here is a list of cat facts 👉</h3>
    <img src = "https://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg" alt="cat" class="cats">
    <ul class="api">
        <li><h2><%= facts0 %></h2> 
        </li>
        <li><h2 ><%= facts1 %></h2> 
        </li>
        <li><h2 ><%= facts2 %></h2> 
        </li>
        <li><h2 ><%= facts3 %></h2> 
        </li>
        <li><h2 ><%= facts4 %></h2> 
        </li>



    </ul>
    <footer>
        <h3>Mohd Ayaan @2024</h3>
    </footer>
   </body>
  
</html>